.wrapper>.inner {
    width: 95%;
    max-width: 90rem;
}

.banner.full {
    height: 65vh !important;
    min-height: 65vh;
}

.title-home {
    text-align: center;
    font-size: 2.5rem;
}

.grid-style {
    @media (max-width: 600px) {
        flex-direction: column;
    }
    .box {
        background-color: transparent;
        width: 33.3%;
        max-width: 520px;
        padding: 15px;
        @media (max-width: 600px) {
            width: 100%;
        }
        .image {
            max-height: 380px;
            overflow: hidden;
        }
        .content {
            background-color: #fff;
            header {
                word-break: break-all;
                h2 {
                    font-size: 1.3rem
                }
            }
        }
    }
}

.wrapper.style3 {
    h1 {
        font-size: 1.75rem;
    }
}

.wrapper.style2.feed {
    .btn {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        @media (max-width: 600px) {
            width: 50%;
        }
    }
    .box {
        display: flex;
        position: relative;
        @media (max-width: 600px) {
            flex-direction: column;
        }
    }
    h2 {
        text-align: left;
        margin-top: 30px;
    }
    .image {
        text-align: center;
        background-color: #000;
        width: 45%;
        float: left;
        @media (max-width: 600px) {
            width: 100%;
        }
        img {
            display: inline-block;
            max-width: 100%;
        }
    }
}

.comments {
    padding: 20px;
    border: 1px solid #eee;
    .comment {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        &:last-child {
            border: none;
        }
        p {
            margin-bottom: 10px;
        }
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}